
<!-- <div class="card">
<p-table [value]="bookData" responsiveLayout="scroll" styleClass="p-datatable-gridlines">
    <ng-template pTemplate="caption">
        Header
    </ng-template>
  <ng-template pTemplate="header">
      <tr>
          <th>Book Name</th>
          <th>Image</th>
          <th>Price</th>
          <th>Rating</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
      <tr>
          <td>Test</td>
          <td>{{product.listPrice}}</td>
          <td>{{product.ourPrice}}</td>
          <td>{{product.rating}}</td>
      </tr>
  </ng-template>
</p-table>
</div> -->
<!-- <div class="card"> -->
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Book ID</th>
                        <th>Book Name</th> 
                        <th>Image</th>                       
                        <th>Price</th>
                        <th>Rating</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of bookData | paginate: { itemsPerPage: 10, currentPage: p }">
                        <td>{{product.bookId}}</td>
                        <td>{{product.title}}</td>
                        <td><img [src]="product.image" [alt]="product.title" width="40" class="shadow-4" /></td>                     
                        <td>{{product.ourPrice}}</td>
                        <td>{{product.rating}}</td>
                        <td><mat-slide-toggle [checked]="product.isActive" (click)="setStatus(product.bookId)"></mat-slide-toggle></td>
                        <td *ngIf="product.isActive"><button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon" [routerLink]="['/admin', product.bookId]">
                            <mat-icon>edit</mat-icon>
                          </button></td>
                        <!-- <td><button mat-mini-fab color="warn" aria-label="Example icon button with a delete icon">
                            <mat-icon>delete</mat-icon>
                          </button></td> -->
                          
                         

                    </tr>
                    
                </tbody>
                
            </table>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>
<!-- </div> -->

